{% extends "account/password_reset.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
    {% trans "重設密碼" as heading %}
    {% #container heading=heading %}
    {% if user.is_authenticated %}
        <div class="my-3">{% include "account/snippets/already_logged_in.html" %}</div>
    {% endif %}
    <div>
        {% trans "忘記密碼了嗎？請在下方輸入您的電子郵件地址，我們將發送一封電子郵件給您，讓您可以重設密碼。" %}
    </div>
    {% url "account_reset_password" as url %}
    {% trans "重設我的密碼" as button_text %}
    {% #form form=form url=url button_text=button_text %}
    {% csrf_token %}
    {{ redirect_field }}
    {% /form %}
    <div>
        {% blocktrans %}如果您在重設密碼時遇到任何問題，請聯繫我們。{% endblocktrans %}
    </div>
    {% /container %}
{% endblock content %}
