{% extends "layouts/base.html" %}

{% comment %} 這個是網頁的title {% endcomment %}
{% block title %} {{ web_inf.title }} {% endblock title %}

{% comment %} 在這裡加入css {% endcomment %}
{% block stylesheets %}{% endblock stylesheets %}

{% block container %}
<div id="app"></div>
<div id="temporaryContent">
    <div class="title"></div>
    <div class="detail">
        <div class="image">
            <img src="">
        </div>
        
        <div class="content">
            
            <h1 class="name"></h1>
            
            <div class="price"></div>
           
            
            
            <div class="buttons">
                
                <button> 購買</button>
               
                <button class="addCart">加入購物車 
                    <span>
                        <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="description"></div>
            {% comment %} 這個是放商品的照片 {% endcomment %}
            <div class="product_photos"></div>
        </div>
    </div>

    <div class="title"></div>
    <div class="listProduct"></div>
</div>
{% endblock container %}

{% comment %} 在這裡加入javascript {% endcomment %}
{% block javascripts %}
    <script src="{{ ASSETS_ROOT }}/js/detail.js" type="module"></script>
{% endblock javascripts %}